form {
    background-color: #213b50;
    color: #ffffff;
    padding: 30px;
    width: 650px;
    height: 650px;
}
form label {
    display: block;

}
form input[type="text"], form input[type="email"], form input[type="tel"], form select, textarea {
    background-color: #2b4a64;
    color: #ffffff;
    border: none;
    outline: none;
    width: 300px;
    height: 25px
}
form input:focus, form select:focus, form textarea:focus {
    background-color: #4e708c;
    color: #ffffff;
    border: #ffffff 1px solid;
}
form textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 15px;
}

form input[type="submit"] {
    background-color: greenyellow;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}



