#p1 {
    background-color: seagreen;
}
#p2 {
    background-color: skyblue;
}
#inline-elements p {
    display: inline;
    font-size: 18px;
}
#inline-p1 {
    background-color: tomato;
}
#inline-p2 {
    background-color: blue;
}
#inline-block-elements li {
    background-color: thistle;
    width: 100px;
    height: 40px;
    margin: 5px;
    display: inline-block;
}
#display-none {
    display: none;
}