#background-img {
    background-color: lightpink;
    background-image: url("../img/truskawka.jpg");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}