body {
    background-color: yellowgreen;
}

div {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

#predefined-colors {
    background-color: orange;
}

#hexadecimal-colors {
    background-color: #aaaaaa;
}

#short-hexadecimal-colors {
    background-color: #758;
}

#rgb-function {
    background-color: rgb(12, 255, 70);
}

#rgba-function {
    background-color: rgba(5, 178, 200, 0.5);
}