img {
    width: 45%;
    height: auto;
    transition: all 1.5s;
}

.rotate img:hover {
    transform: rotate(250deg);
}

.translate img:hover {
    transform: translate(300px, -150px);
}

.scale img:hover {
    transform: scale(1.7);
}

.animation img {
    animation-name: funny;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes funny {
    0%, 100% {
        height: 33%;
        transform: translateY(150px);
    }
    25% {
        height: 50%;
        transform: rotate(180deg);
        
    }
    50% {
        height: 66%;
        border: 14px dashed lime;
    }
    75% {
        height: 50%;
        transform: translateY(100px);
        border: 12px solid hotpink;
    }
}